# node modules
node_modules/
# logs
logs/
# dependency directories
jspm_packages/
# coverage directory used by tools like istanbul
coverage/
# nyc test coverage
.nyc_output/
#env files
.env
/src/generated/prisma

/prisma/migrations
# output from bundlers
dist/

/src/probeauty-2025-firebase-adminsdk-fbsvc-09d925aa47.json